body {
  background: white;
}
@font-face {
  font-family: 'Gotham-Font';
  src: url('./fonts/Gotham-Font/Gotham-Black.otf');
  src: url('./fonts/Gotham-Font/GothamBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.h1-header {
  width: 215px;
  height: 49px;
  font-family: Gotham;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: orange;
}